In [1]:
%reload_ext adlmagics

AdlMagics initialized

In [4]:
%adl login --tenant microsoft.onmicrosoft.com

Waiting for user login...
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code H97BEZKAF to authenticate.
User 'ruxu@microsoft.com' logged in to tenant 'microsoft.onmicrosoft.com'

In [3]:
adl_accounts = %adl listaccounts --page_index 0 --page_account_number 10

Listing azure data lake analytics accounts...
(10) azure data lake analytics account(s) listed.
accounttestaccessadla
adfadla01
adla4damonathdinsight
adlabyjiajia
adlachdou
adlaperf02
adlazhocha
adlclientqa
adlpm
adlsperfdb5analytic

In [4]:
adl_accounts.head(10)

                    name
0  accounttestaccessadla
1              adfadla01
2  adla4damonathdinsight
3           adlabyjiajia
4              adlachdou
5             adlaperf02
6             adlazhocha
7                  adlpm
8    adlsperfdb5analytic
9        adlsus15eartest

In [11]:
jobs = %adl listjobs --account devtooltelemetryadla --page_index 0 --page_job_number 10 --my

Listing azure data lake jobs under account 'devtooltelemetryadla'...

In [6]:
jobs.head(5)

,id,name,type,submitter,parallelism,priority,submit_time,start_time,end_time,state,result
0,c5fc188b-8c16-4609-bd6a-01e861b66090,test,usql,vifeng@microsoft.com,5,1000,2018-02-06 13:59:11.149322+00:00,None,2018-02-06 13:59:19.743162+00:00,ended,failed
1,0811450d-0526-473b-a831-020c4c8631c3,Assembly Registration,usql,vifeng@microsoft.com,1,1000,2018-03-16 04:40:25.038822+00:00,2018-03-16 04:41:03.101811+00:00,2018-03-16 04:41:10.101927+00:00,ended,succeeded
2,c85b8f92-f1b4-4e37-8347-02750c93dba5,AdlaMonthlyJobCounts_201710,usql,vifeng@microsoft.com,31,1000,2017-10-23 04:21:25.309359+00:00,2017-10-23 04:22:28.951449+00:00,2017-10-23 13:11:58.598824+00:00,ended,succeeded
3,3943021a-3afe-41a5-9d52-03e609ceb1d3,testjob,usql,vifeng@microsoft.com,5,100,2018-02-23 09:30:02.018031+00:00,None,2018-02-23 09:30:18.861823+00:00,ended,failed
4,4878a1fb-5e16-46d9-ba29-0ca14ace8750,Assembly Registration,usql,vifeng@microsoft.com,1,1000,2018-03-16 05:03:01.339640+00:00,None,2018-03-16 05:03:13.059215+00:00,ended,failed

In [5]:
%%adl submitjob --account devtooltelemetryadla --name testjob_via_dl_app_20180411_by_dvttelsa --parallelism 5 --priority 100 --runtime default

@searchlog =
    EXTRACT UserId int,
            Start DateTime,
            Region string,
            Query string,
            Duration int?,
            Urls string,
            ClickedUrls string
    FROM "/Samples/Data/SearchLog.tsv"
    USING Extractors.Tsv();

OUTPUT @searchlog
TO "/Samples/AdlMagicsDemoSearchLogResult.csv"
USING Outputters.Csv();

Submitting azure data lake job to account 'devtooltelemetryadla'...
Job submitted.
	Id: ff3ea8e3-81de-44d6-9261-a22c38184bb2
	Name: testjob_via_dl_app_20180411_by_dvttelsa
	Type: usql
	Submitter: ruxu@microsoft.com
	Parallelism: 5
	Priority: 100
	Submit time: 2018-04-18 08:23:47.085449+00:00
	Start time: None
	End time: None
	State: compiling
	Result: none

In [6]:
%adl viewjob --account devtooltelemetryadla --job_id 36a62f78-1881-4895-8a6a-9e37b497582d

Viewing azure data lake job by id '36a62f78-1881-4895-8a6a-9e37b497582d' under account 'devtooltelemetryadla'...
Azure data lake job info:
	Name: testjob_via_dl_app_20180411_by_dvttelsa
	Type: usql
	Submitter: dvttelsa@microsoft.com
	Parallelism: 5
	Priority: 100
	Submit time: 2018-04-11 04:42:18.649130+00:00
	Start time: 2018-04-11 04:44:13.493305+00:00
	End time: 2018-04-11 04:44:42.837144+00:00
	State: ended
	Result: succeeded

,id,name,type,submitter,parallelism,priority,submit_time,start_time,end_time,state,result
0,36a62f78-1881-4895-8a6a-9e37b497582d,testjob_via_dl_app_20180411_by_dvttelsa,usql,dvttelsa@microsoft.com,5,100,2018-04-11 04:42:18.649130+00:00,2018-04-11 04:44:13.493305+00:00,2018-04-11 04:44:42.837144+00:00,ended,succeeded

In [15]:
adls_accounts = %adl liststoreaccounts

Listing azure data lake store accounts...
(5) azure data lake store account(s) listed.
adls4damonathdinsight
adltoolsmigration01
afnanadlstore
asatestdatalakestore
devtoolqaadls

In [ ]:
adls_accounts.head(10)

In [16]:
folders = %adl liststorefolders --account devtooltelemetryadls --folder_path vifeng

Listing azure data lake store folders under folder 'vifeng' of account 'devtooltelemetryadls'...

In [ ]:
folders.head(10)

In [17]:
files = %adl liststorefiles --account devtooltelemetryadls --folder_path vifeng

Listing azure data lake store files under folder 'vifeng' of account 'devtooltelemetryadls'...

In [ ]:
files.head(5)

In [4]:
sample_data = %adl sample --account devtooltelemetryadls --file_path vifeng/AdlUnmappedEventCounts.tsv --file_type tsv --encoding utf-8 --row_number 5

Sampling data lake store file 'vifeng/AdlUnmappedEventCounts.tsv'...
(6) row(s) sampled.
['vs/sqlipstudio', '9473']
['vs/sqlipstudio', '9473']
['vs/sqlipstudio', '9473']
['vs/sqlipstudio', '9473']
['vs/sqlipstudio', '9473']
['vs/sqlipstudio', '9473']

In [5]:
sample_data = %adl sample --account devtooltelemetryadls --file_path /Samples/Data/SearchLog.tsv --file_type tsv --encoding utf-8 --row_number 5

Sampling data lake store file '/Samples/Data/SearchLog.tsv'...
(6) row(s) sampled.
['\ufeff399266', '2/15/2012 11:53:16 AM', 'en-us', 'how to make nachos', '73', 'www.nachos.com;www.wikipedia.com', 'NULL']
['\ufeff399266', '2/15/2012 11:53:16 AM', 'en-us', 'how to make nachos', '73', 'www.nachos.com;www.wikipedia.com', 'NULL']
['\ufeff399266', '2/15/2012 11:53:16 AM', 'en-us', 'how to make nachos', '73', 'www.nachos.com;www.wikipedia.com', 'NULL']
['\ufeff399266', '2/15/2012 11:53:16 AM', 'en-us', 'how to make nachos', '73', 'www.nachos.com;www.wikipedia.com', 'NULL']
['\ufeff399266', '2/15/2012 11:53:16 AM', 'en-us', 'how to make nachos', '73', 'www.nachos.com;www.wikipedia.com', 'NULL']
['\ufeff399266', '2/15/2012 11:53:16 AM', 'en-us', 'how to make nachos', '73', 'www.nachos.com;www.wikipedia.com', 'NULL']

In [5]:
sample_data.head()

                0     1
0  vs/sqlipstudio  9473
1  vs/sqlipstudio  9473
2  vs/sqlipstudio  9473
3  vs/sqlipstudio  9473
4  vs/sqlipstudio  9473

In [21]:
%adl logout

User 'dvttelsa@microsoft.com' logged out of tenant 'microsoft.onmicrosoft.com'