# Introduction
This file demo the `adlmagics` functions for Azure Data Lake job control and data exploration.
## 1. Initilaizaion and Login

In [1]:
%reload_ext adlmagics

AdlMagics initialized

In [2]:
%adl login --tenant microsoft.onmicrosoft.com

Waiting for user login...
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code G2HKWX6E3 to authenticate.
User 'ruxu@microsoft.com' logged in to tenant 'microsoft.onmicrosoft.com'

## 2. Enumerate Azure Data Lake Analytics accounts

In [ ]:
adl_accounts = %adl listaccounts --page_index 0 --page_account_number 10

`%adl listaccounts` return results as Pandas DataFrames, you can call Pandas functions directly.

In [ ]:
adl_accounts.head(10)

## 3. Enumerate Azure Data Lake jobs

In [8]:
jobs = %adl listjobs --account devtooltelemetryadla --page_index 0 --page_job_number 10 --my

Listing azure data lake jobs under account 'devtooltelemetryadla'...

In [9]:
jobs.head(5)

,id,name,type,submitter,parallelism,priority,submit_time,start_time,end_time,state,result
0,defe0ecb-a8f8-46e7-a4d4-0121db2bbfeb,query_a_tsv_sample,usql,ruxu@microsoft.com,5,100,2018-05-07 07:53:07.696919+00:00,2018-05-07 07:53:37.385134+00:00,2018-05-07 07:54:00.760707+00:00,ended,succeeded
1,ad8eca1e-2a4f-4e15-be2a-084be0d96a8e,create_rowset,usql,ruxu@microsoft.com,5,100,2018-06-13 02:28:06.610250+00:00,2018-06-13 02:28:31.188645+00:00,2018-06-13 02:29:05.939054+00:00,ended,succeeded
2,2a96e23d-53e4-4b04-bb74-24dad7d914e0,query_a_tsv_sample,usql,ruxu@microsoft.com,5,100,2018-06-12 07:01:03.964704+00:00,2018-06-12 07:01:25.652443+00:00,2018-06-12 07:02:11.231078+00:00,ended,succeeded
3,2b229466-5aba-45cb-afa9-26243675baa7,r_cbh,usql,ruxu@microsoft.com,5,1000,2018-01-19 09:41:33.735143+00:00,2018-01-19 09:43:26.751810+00:00,2018-01-19 09:46:28.222266+00:00,ended,failed
4,613c1543-6874-456d-9fdb-336b60c39824,populate_tbl,usql,ruxu@microsoft.com,5,100,2018-06-13 02:27:59.953891+00:00,2018-06-13 02:28:24.219815+00:00,2018-06-13 02:29:02.470257+00:00,ended,succeeded

## 4. Submit Azure Data Lake job

In [10]:
%%adl submitjob --account devtooltelemetryadla --name testjob_via_dl_app_20180411_by_dvttelsa --parallelism 5 --priority 100 --runtime default

@searchlog =
    EXTRACT UserId int,
            Start DateTime,
            Region string,
            Query string,
            Duration int?,
            Urls string,
            ClickedUrls string
    FROM "/Samples/Data/SearchLog.tsv"
    USING Extractors.Tsv();

OUTPUT @searchlog
TO "/Samples/AdlMagicsDemoSearchLogResult.csv"
USING Outputters.Csv();

Submitting azure data lake job to account 'devtooltelemetryadla'...
Job submitted.
	Id: d393386b-9b4c-47a2-8a10-340aa056bdc1
	Name: testjob_via_dl_app_20180411_by_dvttelsa
	Type: usql
	Submitter: ruxu@microsoft.com
	Parallelism: 5
	Priority: 100
	Submit time: 2018-06-13 04:57:42.513894+00:00
	Start time: None
	End time: None
	State: compiling
	Result: none

## 5. View Azure Data Lake job details

In [11]:
%adl viewjob --account devtooltelemetryadla --job_id 36a62f78-1881-4895-8a6a-9e37b497582d

Viewing azure data lake job by id '36a62f78-1881-4895-8a6a-9e37b497582d' under account 'devtooltelemetryadla'...
Azure data lake job info:
	Name: testjob_via_dl_app_20180411_by_dvttelsa
	Type: usql
	Submitter: dvttelsa@microsoft.com
	Parallelism: 5
	Priority: 100
	Submit time: 2018-04-11 04:42:18.649130+00:00
	Start time: 2018-04-11 04:44:13.493305+00:00
	End time: 2018-04-11 04:44:42.837144+00:00
	State: ended
	Result: succeeded

,id,name,type,submitter,parallelism,priority,submit_time,start_time,end_time,state,result
0,36a62f78-1881-4895-8a6a-9e37b497582d,testjob_via_dl_app_20180411_by_dvttelsa,usql,dvttelsa@microsoft.com,5,100,2018-04-11 04:42:18.649130+00:00,2018-04-11 04:44:13.493305+00:00,2018-04-11 04:44:42.837144+00:00,ended,succeeded

## 6. Enumerate Azure Data Lake Store accounts

In [12]:
adls_accounts = %adl liststoreaccounts

Listing azure data lake store accounts...
(5) azure data lake store account(s) listed.
abcderfgadls
accounttestaccessadls
adfadla01adls
adlaperf02
adlau18acltest

In [13]:
adls_accounts.head(10)

                    name
0           abcderfgadls
1  accounttestaccessadls
2          adfadla01adls
3             adlaperf02
4         adlau18acltest

## 7. List folders or files for a given path

In [14]:
folders = %adl liststorefolders --account devtooltelemetryadls --folder_path vifeng

Listing azure data lake store folders under folder 'vifeng' of account 'devtooltelemetryadls'...

In [15]:
folders.head(10)

,name,path,last_access_time,last_modified_time
0,FailureVertexDebug,vifeng/FailureVertexDebug,2017-06-27 13:10:48.540,2017-06-27 13:10:59.696
1,MonthlyUserIds,vifeng/MonthlyUserIds,2017-07-06 14:52:33.990,2017-07-06 17:04:35.161
2,udo,vifeng/udo,2018-04-17 15:39:36.051,2018-04-17 15:40:01.964

In [16]:
files = %adl liststorefiles --account devtooltelemetryadls --folder_path vifeng

Listing azure data lake store files under folder 'vifeng' of account 'devtooltelemetryadls'...

In [17]:
files.head(5)

,name,path,size_in_bytes,last_access_time,last_modified_time
0,ASAUnmappedEventCounts.tsv,vifeng/ASAUnmappedEventCounts.tsv,3178,2018-03-27 13:23:46.686,2018-03-27 13:23:46.750
1,AdlUnmappedEventCounts.tsv,vifeng/AdlUnmappedEventCounts.tsv,13023,2018-03-27 00:05:48.446,2018-03-27 00:05:48.495
2,AdlaMonthlyJobCountsVsCode_201708.tsv,vifeng/AdlaMonthlyJobCountsVsCode_201708.tsv,76890,2017-08-10 16:22:47.630,2017-08-10 16:22:47.755
3,AllEventNames.tsv,vifeng/AllEventNames.tsv,50399,2018-03-27 00:03:33.226,2018-03-27 00:03:33.277
4,DataLakeConsoleAppForJava.tsv,vifeng/DataLakeConsoleAppForJava.tsv,3505,2017-07-12 17:31:14.111,2017-07-12 17:31:14.253

## 8. Sample data to Pandas DataFrame

In [18]:
sample_data = %adl sample --account devtooltelemetryadls --file_path /Samples/Data/SearchLog.tsv --file_type tsv --encoding utf-8 --row_number 5

Sampling data lake store file '/Samples/Data/SearchLog.tsv'...
(5) row(s) sampled.
['\ufeff399266', '2/15/2012 11:53:16 AM', 'en-us', 'how to make nachos', '73', 'www.nachos.com;www.wikipedia.com', 'NULL']
['382045', '2/15/2012 11:53:18 AM', 'en-gb', 'best ski resorts', '614', 'skiresorts.com;ski-europe.com;www.travelersdigest.com/ski_resorts.htm', 'ski-europe.com;www.travelersdigest.com/ski_resorts.htm']
['382045', '2/16/2012 11:53:20 AM', 'en-gb', 'broken leg', '74', 'mayoclinic.com/health;webmd.com/a-to-z-guides;mybrokenleg.com;wikipedia.com/Bone_fracture', 'mayoclinic.com/health;webmd.com/a-to-z-guides;mybrokenleg.com;wikipedia.com/Bone_fracture']
['106479', '2/16/2012 11:53:50 AM', 'en-ca', 'south park episodes', '24', 'southparkstudios.com;wikipedia.org/wiki/Sout_Park;imdb.com/title/tt0121955;simon.com/mall', 'southparkstudios.com']
['906441', '2/16/2012 11:54:01 AM', 'en-us', 'cosmos', '1213', 'cosmos.com;wikipedia.org/wiki/Cosmos:_A_Personal_Voyage;hulu.com/cosmos', 'NULL']

In [19]:
sample_data.head(2)

,0,1,2,3,4,5,6
0,﻿399266,2/15/2012 11:53:16 AM,en-us,how to make nachos,73,www.nachos.com;www.wikipedia.com,NULL
1,382045,2/15/2012 11:53:18 AM,en-gb,best ski resorts,614,skiresorts.com;ski-europe.com;www.travelersdig...,ski-europe.com;www.travelersdigest.com/ski_res...

## 9. Logout

In [20]:
%adl logout

User 'ruxu@microsoft.com' logged out of tenant 'microsoft.onmicrosoft.com'