# U-SQL samples
These samples cover some very common U-SQL scenarios, e.g. query a TSV file, create a database, populate table, query table and create rowset in script. 
All the samples here are also avaliable in the Azure Portal. 
## 0. Initialize ADL Magics

In [21]:
%reload_ext adlmagics

AdlMagics initialized

In [22]:
%adl login --tenant microsoft.onmicrosoft.com

Waiting for user login...
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code GHHCBVD7H to authenticate.
User 'ruxu@microsoft.com' logged in to tenant 'microsoft.onmicrosoft.com'

## 1. Query a TSV File

In [5]:
%%adl submitjob --account devtooltelemetryadla --name query_a_tsv_sample --parallelism 5 --priority 100 --runtime default

//Define schema of file, must map all columns
@searchlog =
    EXTRACT UserId int,
            Start DateTime,
            Region string,
            Query string,
            Duration int?,
            Urls string,
            ClickedUrls string
    FROM "/Samples/Data/SearchLog.tsv"
    USING Extractors.Tsv();

OUTPUT @searchlog
TO "/Samples/AdlMagicsDemoSearchLogResult.csv"
USING Outputters.Csv();

Submitting azure data lake job to account 'devtooltelemetryadla'...
Job submitted.
	Id: 290fe596-64c1-4e44-a8c3-98aa70264503
	Name: query_a_tsv_sample
	Type: usql
	Submitter: ruxu@microsoft.com
	Parallelism: 5
	Priority: 100
	Submit time: 2018-06-13 02:27:52.219458+00:00
	Start time: None
	End time: None
	State: compiling
	Result: none

In [6]:
%adl viewjob --account devtooltelemetryadla --job_id 2a96e23d-53e4-4b04-bb74-24dad7d914e0

Viewing azure data lake job by id '2a96e23d-53e4-4b04-bb74-24dad7d914e0' under account 'devtooltelemetryadla'...
Azure data lake job info:
	Name: query_a_tsv_sample
	Type: usql
	Submitter: ruxu@microsoft.com
	Parallelism: 5
	Priority: 100
	Submit time: 2018-06-12 07:01:03.964704+00:00
	Start time: 2018-06-12 07:01:25.652443+00:00
	End time: 2018-06-12 07:02:11.231078+00:00
	State: ended
	Result: succeeded

,id,name,type,submitter,parallelism,priority,submit_time,start_time,end_time,state,result
0,2a96e23d-53e4-4b04-bb74-24dad7d914e0,query_a_tsv_sample,usql,ruxu@microsoft.com,5,100,2018-06-12 07:01:03.964704+00:00,2018-06-12 07:01:25.652443+00:00,2018-06-12 07:02:11.231078+00:00,ended,succeeded

In [7]:
sample_data = %adl sample --account devtooltelemetryadls --file_path /Samples/AdlMagicsDemoSearchLogResult.csv --file_type csv --encoding utf-8 --row_number 5

Sampling data lake store file '/Samples/AdlMagicsDemoSearchLogResult.csv'...
(5) row(s) sampled.
['399266', '2012-02-15T11:53:16.0000000', '"en-us"', '"how to make nachos"', '73', '"www.nachos.com;www.wikipedia.com"', '"NULL"']
['382045', '2012-02-15T11:53:18.0000000', '"en-gb"', '"best ski resorts"', '614', '"skiresorts.com;ski-europe.com;www.travelersdigest.com/ski_resorts.htm"', '"ski-europe.com;www.travelersdigest.com/ski_resorts.htm"']
['382045', '2012-02-16T11:53:20.0000000', '"en-gb"', '"broken leg"', '74', '"mayoclinic.com/health;webmd.com/a-to-z-guides;mybrokenleg.com;wikipedia.com/Bone_fracture"', '"mayoclinic.com/health;webmd.com/a-to-z-guides;mybrokenleg.com;wikipedia.com/Bone_fracture"']
['106479', '2012-02-16T11:53:50.0000000', '"en-ca"', '"south park episodes"', '24', '"southparkstudios.com;wikipedia.org/wiki/Sout_Park;imdb.com/title/tt0121955;simon.com/mall"', '"southparkstudios.com"']
['906441', '2012-02-16T11:54:01.0000000', '"en-us"', '"cosmos"', '1213', '"cosmos.com;wikipedia.org/wiki/Cosmos:_A_Personal_Voyage;hulu.com/cosmos"', '"NULL"']

## 2. Create Database and Create Table

In [8]:
%%adl submitjob --account devtooltelemetryadla --name create_db_tbl --parallelism 5 --priority 100 --runtime default

//Create Database SampleDBTutorials
CREATE DATABASE IF NOT EXISTS SampleDBTutorials;

//Create Table OlympicAthletes
CREATE TABLE IF NOT EXISTS SampleDBTutorials.dbo.SearchLog
(
        //Define schema of table
        UserId          int, 
        Start           DateTime, 
        Region          string, 
        Query           string, 
        Duration        int, 
        Urls            string, 
        ClickedUrls     string,
    INDEX idx1 //Name of index
    CLUSTERED (Region ASC) //Column to cluster by
    DISTRIBUTED BY HASH (Region) //Column to partition by
);

Submitting azure data lake job to account 'devtooltelemetryadla'...
Job submitted.
	Id: 9c25487e-4214-449a-9b0b-c2cde334fbcb
	Name: create_db_tbl
	Type: usql
	Submitter: ruxu@microsoft.com
	Parallelism: 5
	Priority: 100
	Submit time: 2018-06-13 02:27:57.610157+00:00
	Start time: None
	End time: None
	State: compiling
	Result: none

In [9]:
%adl viewjob --account devtooltelemetryadla --job_id 804cb781-e9f6-47fc-b26e-73f1bbfb5e41

Viewing azure data lake job by id '804cb781-e9f6-47fc-b26e-73f1bbfb5e41' under account 'devtooltelemetryadla'...
Azure data lake job info:
	Name: create_db_tbl
	Type: usql
	Submitter: ruxu@microsoft.com
	Parallelism: 5
	Priority: 100
	Submit time: 2018-06-12 09:04:46.783978+00:00
	Start time: 2018-06-12 09:05:05.143577+00:00
	End time: 2018-06-12 09:05:19.315604+00:00
	State: ended
	Result: succeeded

,id,name,type,submitter,parallelism,priority,submit_time,start_time,end_time,state,result
0,804cb781-e9f6-47fc-b26e-73f1bbfb5e41,create_db_tbl,usql,ruxu@microsoft.com,5,100,2018-06-12 09:04:46.783978+00:00,2018-06-12 09:05:05.143577+00:00,2018-06-12 09:05:19.315604+00:00,ended,succeeded

## 3. Populate Table

In [10]:
%%adl submitjob --account devtooltelemetryadla --name populate_tbl --parallelism 5 --priority 100 --runtime default

//Read some data
@searchlog = 
    EXTRACT UserId          int, 
            Start           DateTime, 
            Region          string, 
            Query           string, 
            Duration        int, 
            Urls            string, 
            ClickedUrls     string
    FROM @"/Samples/Data/SearchLog.tsv"
    USING Extractors.Tsv();

//Insert it into a previously created table
INSERT INTO SampleDBTutorials.dbo.SearchLog
SELECT *
FROM @searchlog;

Submitting azure data lake job to account 'devtooltelemetryadla'...
Job submitted.
	Id: 613c1543-6874-456d-9fdb-336b60c39824
	Name: populate_tbl
	Type: usql
	Submitter: ruxu@microsoft.com
	Parallelism: 5
	Priority: 100
	Submit time: 2018-06-13 02:27:59.953891+00:00
	Start time: None
	End time: None
	State: compiling
	Result: none

In [11]:
%adl viewjob --account devtooltelemetryadla --job_id efe86318-2b5c-4726-af24-b1b686f0a270

Viewing azure data lake job by id 'efe86318-2b5c-4726-af24-b1b686f0a270' under account 'devtooltelemetryadla'...
Azure data lake job info:
	Name: populate_tbl
	Type: usql
	Submitter: ruxu@microsoft.com
	Parallelism: 5
	Priority: 100
	Submit time: 2018-06-12 09:10:58.272501+00:00
	Start time: 2018-06-12 09:11:22.444598+00:00
	End time: 2018-06-12 09:12:11.617046+00:00
	State: ended
	Result: succeeded

,id,name,type,submitter,parallelism,priority,submit_time,start_time,end_time,state,result
0,efe86318-2b5c-4726-af24-b1b686f0a270,populate_tbl,usql,ruxu@microsoft.com,5,100,2018-06-12 09:10:58.272501+00:00,2018-06-12 09:11:22.444598+00:00,2018-06-12 09:12:11.617046+00:00,ended,succeeded

## 4. Query Table

In [12]:
%%adl submitjob --account devtooltelemetryadla --name query_tbl --parallelism 5 --priority 100 --runtime default

//Read from SearchLog table
@athletes =
    SELECT *
    FROM SampleDBTutorials.dbo.SearchLog;

//Write it to a file so we can look at it
OUTPUT @athletes
TO @"/Samples/Output/SearchLog_output.tsv"
USING Outputters.Tsv();

//Alternatively, we can output the whole table to a file without using SELECT
OUTPUT SampleDBTutorials.dbo.SearchLog
TO @"/Samples/Output/SearchLog_output_direct.tsv"
USING Outputters.Tsv();

Submitting azure data lake job to account 'devtooltelemetryadla'...
Job submitted.
	Id: bee8f2a5-c1d2-4b12-ac2c-3db4af1aeac4
	Name: query_tbl
	Type: usql
	Submitter: ruxu@microsoft.com
	Parallelism: 5
	Priority: 100
	Submit time: 2018-06-13 02:28:02.375797+00:00
	Start time: None
	End time: None
	State: compiling
	Result: none

In [13]:
%adl viewjob --account devtooltelemetryadla --job_id 065043f7-a80e-449a-910a-d7b94fe0a4c8

Viewing azure data lake job by id '065043f7-a80e-449a-910a-d7b94fe0a4c8' under account 'devtooltelemetryadla'...
Azure data lake job info:
	Name: query_tbl
	Type: usql
	Submitter: ruxu@microsoft.com
	Parallelism: 5
	Priority: 100
	Submit time: 2018-06-12 09:11:25.741512+00:00
	Start time: 2018-06-12 09:12:01.023151+00:00
	End time: 2018-06-12 09:12:36.773566+00:00
	State: ended
	Result: succeeded

,id,name,type,submitter,parallelism,priority,submit_time,start_time,end_time,state,result
0,065043f7-a80e-449a-910a-d7b94fe0a4c8,query_tbl,usql,ruxu@microsoft.com,5,100,2018-06-12 09:11:25.741512+00:00,2018-06-12 09:12:01.023151+00:00,2018-06-12 09:12:36.773566+00:00,ended,succeeded

In [14]:
sample_athletes = %adl sample --account devtooltelemetryadls --file_path /Samples/Output/SearchLog_output.tsv --file_type tsv --encoding utf-8 --row_number 5

Sampling data lake store file '/Samples/Output/SearchLog_output.tsv'...
(5) row(s) sampled.
['106479', '2012-02-16T11:53:50.0000000', '"en-ca"', '"south park episodes"', '24', '"southparkstudios.com;wikipedia.org/wiki/Sout_Park;imdb.com/title/tt0121955;simon.com/mall"', '"southparkstudios.com"']
['848434', '2012-02-16T12:12:35.0000000', '"en-ch"', '"facebook"', '10', '"facebook.com;facebook.com/login;wikipedia.org/wiki/Facebook"', '"facebook.com"']
['354068', '2012-02-16T12:00:33.0000000', '"en-mx"', '"what is sql"', '422', '"wikipedia.org/wiki/SQL;sqlcourse.com/intro.html;wikipedia.org/wiki/Microsoft_SQL"', '"wikipedia.org/wiki/SQL"']
['351530', '2012-02-16T11:54:01.0000000', '"en-fr"', '"microsoft"', '241', '"microsoft.com;wikipedia.org/wiki/Microsoft;xbox.com"', '"NULL"']
['382045', '2012-02-16T11:53:20.0000000', '"en-gb"', '"broken leg"', '74', '"mayoclinic.com/health;webmd.com/a-to-z-guides;mybrokenleg.com;wikipedia.com/Bone_fracture"', '"mayoclinic.com/health;webmd.com/a-to-z-guides;mybrokenleg.com;wikipedia.com/Bone_fracture"']

wishlist:
1. method to read data rather than sample data, read top xxx rows, or read the first xxx size?
2. UI on the output data, table Guid or quick graph buttons.

## 5. Create Rowset in Script

In [15]:
%%adl submitjob --account devtooltelemetryadla --name create_rowset --parallelism 5 --priority 100 --runtime default

@a  = 
    SELECT * FROM 
        (VALUES
            ("Contoso",   123, 1500.0, new DateTime(1979,3,31) ),
            ("Woodgrove", 456, 2700.0, new DateTime(1979,4,10) )
        ) AS 
            D( customer, id, amount, date );

OUTPUT @a 
    TO @"/Samples/Output/Define_rowset_in_script_output.tsv"
    USING Outputters.Tsv();

Submitting azure data lake job to account 'devtooltelemetryadla'...
Job submitted.
	Id: ad8eca1e-2a4f-4e15-be2a-084be0d96a8e
	Name: create_rowset
	Type: usql
	Submitter: ruxu@microsoft.com
	Parallelism: 5
	Priority: 100
	Submit time: 2018-06-13 02:28:06.610250+00:00
	Start time: None
	End time: None
	State: compiling
	Result: none

In [23]:
%adl viewjob --account devtooltelemetryadla --job_id b38dc779-ccaf-4269-92ef-5df91ad765c1

Viewing azure data lake job by id 'b38dc779-ccaf-4269-92ef-5df91ad765c1' under account 'devtooltelemetryadla'...
Azure data lake job info:
	Name: create_rowset
	Type: usql
	Submitter: ruxu@microsoft.com
	Parallelism: 5
	Priority: 100
	Submit time: 2018-05-07 08:41:26.034943+00:00
	Start time: 2018-05-07 08:41:54.394974+00:00
	End time: 2018-05-07 08:42:18.958061+00:00
	State: ended
	Result: succeeded

,id,name,type,submitter,parallelism,priority,submit_time,start_time,end_time,state,result
0,b38dc779-ccaf-4269-92ef-5df91ad765c1,create_rowset,usql,ruxu@microsoft.com,5,100,2018-05-07 08:41:26.034943+00:00,2018-05-07 08:41:54.394974+00:00,2018-05-07 08:42:18.958061+00:00,ended,succeeded

In [24]:
sample_define_rowset_in_script = %adl sample --account devtooltelemetryadls --file_path /Samples/Output/Define_rowset_in_script_output.tsv --file_type tsv --encoding utf-8 --row_number 30

Sampling data lake store file '/Samples/Output/Define_rowset_in_script_output.tsv'...
(2) row(s) sampled.
['"Contoso"', '123', '1500', '1979-03-31T00:00:00.0000000']
['"Woodgrove"', '456', '2700', '1979-04-10T00:00:00.0000000']